# Homework 4

In [1]:
import numpy as np
import pandas as pd
from pandas.io import wb

pd.set_option('float_format', '{:6.2f}'.format)

Download the following data from the World Bank "World Development Indicators" repository (http://databank.worldbank.org/data/home.aspx):

- inflation ('FP.CPI.TOTL.ZG')
- GDP per capita ('NY.GDP.PCAP.CD')
- Internet users ('IT.NET.USER.P2')

Use Pandas remote data access module (http://pandas.pydata.org/pandas-docs/version/0.16.2/remote_data.html#remote-data-wb).

                 NY.GDP.PCAP.CD  FP.CPI.TOTL.ZG  IT.NET.USER.P2
country    year
Arab World 2014         7412.52            2.79           34.52
           2013         7540.46            3.16           32.34
           2012         7442.14            4.25           29.95
           2011         6900.38            4.64           26.53
           2010         5949.41            3.95           24.54

- Print the shape of the dataset (number of rows and columns).
- Print the first three and last three rows in the dataset.
- Print basic descriptive statistics.

(3735, 3)
                 NY.GDP.PCAP.CD  FP.CPI.TOTL.ZG  IT.NET.USER.P2
country    year
Arab World 2014         7412.52            2.79           34.52
           2013         7540.46            3.16           32.34
           2012         7442.14            4.25           29.95
               NY.GDP.PCAP.CD  FP.CPI.TOTL.ZG  IT.NET.USER.P2
country  year
Zimbabwe 2002          499.72             nan            3.99
         2001          537.72             nan            0.80
         2000          535.20             nan            0.40
       NY.GDP.PCAP.CD  FP.CPI.TOTL.ZG  IT.NET.USER.P2
count         3422.00         3102.00         3480.00
mean         12279.80            6.17           26.31
std          19444.36           15.00           26.38
min            106.02          -18.11            0.00
25%           1151.95            2.17            3.77
50%           4016.69            3.99           16.16
75%          14390.29            7.10           44.14
max         193648.13          513.91           98.16

- Rename columns to give them some meaningful names. Print first five rows of the dataset.

                 GDP per capita  Inflation  Internet users
country    year
Arab World 2014         7412.52       2.79           34.52
           2013         7540.46       3.16           32.34
           2012         7442.14       4.25           29.95
           2011         6900.38       4.64           26.53
           2010         5949.41       3.95           24.54

Note that the index level 'year' is a `string`.

- Convert it to `DatetimeIntex` and name it 'date'. Show the first three values.

                        GDP per capita  Inflation  Internet users
country     date
Afghanistan 2000-01-01             nan        nan             nan
            2001-01-01          119.90        nan            0.00
            2002-01-01          192.15        nan            0.00
            2003-01-01          203.65        nan            0.09
            2004-01-01          224.91        nan            0.11
DatetimeIndex(['2000-01-01', '2001-01-01', '2002-01-01'], dtype='datetime64[ns]', name='date', freq=None, tz=None)

- Compute average inflation and GDP per capita over time for each country. Drop missing values. Sort index by inflation. Print the first five rows.

                      Inflation  GDP per capita
country
Japan                     -0.03        37538.90
Brunei Darussalam          0.63        29596.88
Switzerland                0.64        61883.90
Hong Kong SAR, China       1.26        30344.85
Sweden                     1.31        46526.94

- Create a `DataFrame` which contains only five highest and five lowest inflation values and country index. Print it.

                      Inflation
country
Japan                     -0.03
Brunei Darussalam          0.63
Switzerland                0.64
Hong Kong SAR, China       1.26
Sweden                     1.31
Serbia                    19.71
Venezuela, RB             34.21
Belarus                   35.27
Angola                    57.15
Congo, Dem. Rep.          73.39

- Categorize countries into 'high', 'medium', and 'low' groups according to the average value of 'GDP per capita'.
- Compute the average inflation for each group. Print the result.

           Inflation
GDP group
low             8.60
medium          6.65
high            3.61

- Create a `DataFrame` with
    - two-level index, 'GDP group' and 'country',
    - two columns, 'Inflation' and 'GDP per capita'.
- Leave only two smallest and two largest values of inflation values in each 'GDP group'. Print the result.

                             Inflation  GDP per capita
GDP group country
low       Senegal                 1.69          845.85
          Zimbabwe                2.15          583.54
          Guinea                 18.56          402.39
          Congo, Dem. Rep.       73.39          287.66
medium    Morocco                 1.63         2283.89
          Dominica                1.85         6088.47
          Belarus                35.27         4404.44
          Angola                 57.15         2885.26
high      Japan                  -0.03        37538.90
          Brunei Darussalam       0.63        29596.88
          Turkey                 18.37         7819.24
          Venezuela, RB          34.21         8675.05

- Compute log percentage growth rate of GDP per capita. Print first five rows.

                        GDP per capita  Inflation  Internet users  GDP growth
country     date
Afghanistan 2000-01-01             nan        nan             nan         nan
            2001-01-01          119.90        nan            0.00         nan
            2002-01-01          192.15        nan            0.00       47.16
            2003-01-01          203.65        nan            0.09        5.81
            2004-01-01          224.91        nan            0.11        9.93

- Compute averages of all indicators over time for each country. Print first five rows.

                GDP per capita  Inflation  Internet users  GDP growth
country
Afghanistan             407.55       8.13            2.68       13.11
Albania                3206.71       2.64           24.40        9.67
Algeria                3707.43       3.71            8.66        8.15
American Samoa             nan        nan             nan         nan
Andorra               37094.66        nan           57.61        5.32

- Categorize countries into 'high', 'medium', and 'low' groups according to the average value of 'Internet users' and 'Inflation' (separately).
- Compute the average GDP growth for each group.
- Print the result as a 3x3 table with inflation gropus in rows and internet groups in columns.

Internet users group    low  medium   high
Inflation group
low                    5.72    6.87   5.07
medium                 7.48    7.96   7.29
high                   7.48    9.32   8.34